.profile-sidebar-main-summary-wrapper {
  display: flex;
  justify-content: space-around;
  border: 3px solid #b0ff94;
  background-color: #b0ff94;
  padding: 12px;
  border-radius: 12px;
}
.profile-sidebar-main-summary {
  text-align: center;
}
.profile-sidebar-main-summary p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #222;
}
.profile-sidebar-main-summary small {
  font-size: 12px;
  color: #666;
}
